doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
  body
    block content